In [1]:
import geopandas as gpd

In [3]:
import time

In [4]:
start = time.time()
data = gpd.read_file('../AL_36_D002_20211002.shp', encoding='ms949')
print(time.time()-start)

14.020419120788574

In [5]:
data.crs

<Projected CRS: EPSG:5174>
Name: Korean 1985 / Modified Central Belt
Axis Info [cartesian]:
- X[north]: Northing (metre)
- Y[east]: Easting (metre)
Area of Use:
- name: Republic of Korea (South Korea) - between 126°E and 128°E - mainland and nearshore.
- bounds: (126.0, 33.96, 128.0, 38.33)
Coordinate Operation:
- name: Korea Modified Central Belt
- method: Transverse Mercator
Datum: Korean Datum 1985
- Ellipsoid: Bessel 1841
- Prime Meridian: Greenwich

In [8]:
data

,A0,A1,A2,A3,A4,A5,A6,geometry
0,464617,3611010100100130001,3611010100,세종특별자치시 반곡동,13-1,13-1전,2021-08-07,"POLYGON ((227937.484 333581.498, 227937.393 33..."
1,464619,3611010100100130002,3611010100,세종특별자치시 반곡동,13-2,13-2전,2021-08-07,"POLYGON ((227960.909 333584.528, 227958.484 33..."
2,462055,3611010100100130003,3611010100,세종특별자치시 반곡동,13-3,13-3전,2021-08-07,"POLYGON ((227868.381 333622.871, 227888.284 33..."
3,462052,3611010100100130004,3611010100,세종특별자치시 반곡동,13-4,13-4전,2021-08-07,"POLYGON ((227847.860 333596.449, 227846.639 33..."
4,462044,3611010100100130005,3611010100,세종특별자치시 반곡동,13-5,13-5전,2021-08-07,"POLYGON ((227832.799 333625.782, 227824.600 33..."
...,...,...,...,...,...,...,...,...
201413,929127,3611039024201820007,3611039024,세종특별자치시 소정면 고등리,182-7,산182-7 임,2021-06-23,"POLYGON ((217573.577 355845.333, 217572.348 35..."
201414,929118,3611039024201830004,3611039024,세종특별자치시 소정면 고등리,183-4,산183-4 임,2021-06-23,"POLYGON ((217536.641 355850.523, 217528.195 35..."
201415,929119,3611039024201830005,3611039024,세종특별자치시 소정면 고등리,183-5,산183-5 철,2021-06-23,"POLYGON ((217536.641 355850.523, 217556.800 35..."
201416,929128,3611039024201840001,3611039024,세종특별자치시 소정면 고등리,184-1,산184-1 임,2021-06-23,"POLYGON ((217533.895 355713.712, 217531.486 35..."
201417,929120,3611039024201840006,3611039024,세종특별자치시 소정면 고등리,184-6,산184-6 철,2021-06-23,"POLYGON ((217525.045 355815.470, 217529.169 35..."

In [6]:
conv = data.to_crs(epsg=4326)

In [7]:
conv

,A0,A1,A2,A3,A4,A5,A6,geometry
0,464617,3611010100100130001,3611010100,세종특별자치시 반곡동,13-1,13-1전,2021-08-07,"POLYGON ((127.31264 36.50285, 127.31264 36.502..."
1,464619,3611010100100130002,3611010100,세종특별자치시 반곡동,13-2,13-2전,2021-08-07,"POLYGON ((127.31290 36.50288, 127.31287 36.502..."
2,462055,3611010100100130003,3611010100,세종특별자치시 반곡동,13-3,13-3전,2021-08-07,"POLYGON ((127.31187 36.50322, 127.31209 36.503..."
3,462052,3611010100100130004,3611010100,세종특별자치시 반곡동,13-4,13-4전,2021-08-07,"POLYGON ((127.31164 36.50299, 127.31163 36.502..."
4,462044,3611010100100130005,3611010100,세종특별자치시 반곡동,13-5,13-5전,2021-08-07,"POLYGON ((127.31147 36.50325, 127.31138 36.503..."
...,...,...,...,...,...,...,...,...
201413,929127,3611039024201820007,3611039024,세종특별자치시 소정면 고등리,182-7,산182-7 임,2021-06-23,"POLYGON ((127.19746 36.70372, 127.19745 36.703..."
201414,929118,3611039024201830004,3611039024,세종특별자치시 소정면 고등리,183-4,산183-4 임,2021-06-23,"POLYGON ((127.19705 36.70377, 127.19696 36.703..."
201415,929119,3611039024201830005,3611039024,세종특별자치시 소정면 고등리,183-5,산183-5 철,2021-06-23,"POLYGON ((127.19705 36.70377, 127.19728 36.703..."
201416,929128,3611039024201840001,3611039024,세종특별자치시 소정면 고등리,184-1,산184-1 임,2021-06-23,"POLYGON ((127.19702 36.70254, 127.19699 36.702..."
201417,929120,3611039024201840006,3611039024,세종특별자치시 소정면 고등리,184-6,산184-6 철,2021-06-23,"POLYGON ((127.19692 36.70345, 127.19697 36.703..."

In [9]:
conv.geometry[0]

In [10]:
type(conv.geometry[0])

shapely.geometry.polygon.Polygon

In [13]:
import sqlalchemy

In [14]:
from geopandas_postgis import PostGIS

In [17]:
con = sqlalchemy.create_engine('postgresql://postgres:5555443@172.17.0.3:5432/postgres')
# 중간에 172.17.0.3 부분은 postgres db 컨테이너의 호스트 주소이다.
# docker exec -it vos_pgis hostname -i 
# 명령어를 사용해서 vos_pgis 컨테이너의 ip주소를 확인한 뒤에 바꿔서 입력해줘야 함.

In [18]:
start = time.time()
conv.postgis.to_postgis(con, 'lot_polygon_sejong', 'geometry', if_exists='replace')
print(time.time()-start)

/opt/conda/lib/python3.9/site-packages/geopandas/geodataframe.py:1350: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

36.43009901046753