In [1]:
# python 에서 데이터를 불러와 작업하는 방법은 여러가지가 있을텐데, 여기서는 2가지 방법을 사용해본다.
# 1. geopandas 혹은 pandas 사용
# 2. ipython-sql 사용 (https://towardsdatascience.com/heres-how-to-run-sql-in-jupyter-notebooks-f26eb90f3259)

## geopandas 사용

In [20]:
# 필요한 라이브러리 불러오기
import geopandas as gpd
from geopandas_postgis import PostGIS
import sqlalchemy

In [21]:
# db 연결 객체 설정
con = sqlalchemy.create_engine('postgresql://postgres:5555443@172.17.0.3:5432/postgres')

In [35]:
# 데이터 불러오기
gdf = gpd.read_postgis('select * from lot_polygon_sejong limit 10', con, 'geometry')

In [36]:
gdf

,index,A0,A1,A2,A3,A4,A5,A6,geometry
0,0,464617,3611010100100130001,3611010100,세종특별자치시 반곡동,13-1,13-1전,2021-08-07,"POLYGON ((127.31264 36.50285, 127.31264 36.502..."
1,1,464619,3611010100100130002,3611010100,세종특별자치시 반곡동,13-2,13-2전,2021-08-07,"POLYGON ((127.31290 36.50288, 127.31287 36.502..."
2,2,462055,3611010100100130003,3611010100,세종특별자치시 반곡동,13-3,13-3전,2021-08-07,"POLYGON ((127.31187 36.50322, 127.31209 36.503..."
3,3,462052,3611010100100130004,3611010100,세종특별자치시 반곡동,13-4,13-4전,2021-08-07,"POLYGON ((127.31164 36.50299, 127.31163 36.502..."
4,4,462044,3611010100100130005,3611010100,세종특별자치시 반곡동,13-5,13-5전,2021-08-07,"POLYGON ((127.31147 36.50325, 127.31138 36.503..."
5,5,464633,3611010100100130006,3611010100,세종특별자치시 반곡동,13-6,13-6전,2021-08-07,"POLYGON ((127.31136 36.50298, 127.31109 36.502..."
6,6,462054,3611010100100130007,3611010100,세종특별자치시 반곡동,13-7,13-7전,2021-08-07,"POLYGON ((127.31143 36.50305, 127.31139 36.503..."
7,7,464650,3611010100100130008,3611010100,세종특별자치시 반곡동,13-8,13-8천,2021-08-07,"POLYGON ((127.31033 36.50271, 127.31026 36.502..."
8,8,464804,3611010100100130009,3611010100,세종특별자치시 반곡동,13-9,13-9전,2021-08-07,"POLYGON ((127.31471 36.50277, 127.31460 36.502..."
9,9,464647,3611010100100130010,3611010100,세종특별자치시 반곡동,13-10,13-10전,2021-08-07,"POLYGON ((127.31458 36.50280, 127.31435 36.502..."

In [37]:
gdf.geometry[0]

In [38]:
type(gdf.geometry[0])

shapely.geometry.polygon.Polygon

In [39]:
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

## pandas 사용

In [27]:
# 라이브러리 불러오기
import pandas as pd
from shapely import wkb

In [40]:
# 데이터 불러오기
df = pd.read_sql('select * from lot_polygon_sejong limit 10', con)
# data = gpd.read_postgis('select * from lot_polygon_sejong limit 10', con, 'geometry') 와 차이를 살펴보면 
# 쿼리로부터 데이터를 가져오는 함수 이름이 read_postgis -> read_sql 로 달라졌고
# read_sql 함수는 geometry 데이터가 들어있는 컬럼의 이름을 따로 지정해줄 필요가 없다.
# db 연결 객체(con)는 앞에서 만들었던 것을 그대로 사용.

In [41]:
df

,index,A0,A1,A2,A3,A4,A5,A6,geometry
0,0,464617,3611010100100130001,3611010100,세종특별자치시 반곡동,13-1,13-1전,2021-08-07,0103000020E6100000010000000C0000005922234A02D4...
1,1,464619,3611010100100130002,3611010100,세종특별자치시 반곡동,13-2,13-2전,2021-08-07,0103000020E6100000010000000A0000002655479306D4...
2,2,462055,3611010100100130003,3611010100,세종특별자치시 반곡동,13-3,13-3전,2021-08-07,0103000020E6100000010000000F000000961233ADF5D3...
3,3,462052,3611010100100130004,3611010100,세종특별자치시 반곡동,13-4,13-4전,2021-08-07,0103000020E6100000010000000A000000951A7CE8F1D3...
4,4,462044,3611010100100130005,3611010100,세종특별자치시 반곡동,13-5,13-5전,2021-08-07,0103000020E6100000010000000600000076B0CB2BEFD3...
5,5,464633,3611010100100130006,3611010100,세종특별자치시 반곡동,13-6,13-6전,2021-08-07,0103000020E61000000100000007000000D8320D57EDD3...
6,6,462054,3611010100100130007,3611010100,세종특별자치시 반곡동,13-7,13-7전,2021-08-07,0103000020E6100000010000000B000000F6531368EED3...
7,7,464650,3611010100100130008,3611010100,세종특별자치시 반곡동,13-8,13-8천,2021-08-07,0103000020E6100000010000000B000000762DEC78DCD3...
8,8,464804,3611010100100130009,3611010100,세종특별자치시 반곡동,13-9,13-9전,2021-08-07,0103000020E61000000100000005000000A108762424D4...
9,9,464647,3611010100100130010,3611010100,세종특별자치시 반곡동,13-10,13-10전,2021-08-07,0103000020E610000001000000070000004D3E412722D4...

In [42]:
df.geometry[0]

'0103000020E6100000010000000C0000005922234A02D45F405EF22E595D404240F0AEDA4502D45F40D3DDDD4D5D404240AD7D932AF7D35F4021816FBB5E40424048E5D800F8D35F40621FCE2C604042401AC8A343F9D35F4001A50159624042403F74D68AFBD35F40EF9C3C8A65404240B810EFB9FDD35F40C1A0117968404240BF4F730FFED35F4084C549CD68404240C199898DFED35F40BC306E73684042403E09C36606D45F403158CD17674042402F9EC27A04D45F40D4CB622B634042405922234A02D45F405EF22E595D404240'

In [43]:
type(df.geometry[0])

str

In [44]:
wkb.loads(df.geometry[0], hex=True)

In [45]:
type(wkb.loads(df.geometry[0], hex=True))

shapely.geometry.polygon.Polygon

In [46]:
def byteStringToGeometry(byte_str):
    return wkb.loads(byte_str, hex=True)

In [47]:
byteStringToGeometry(df.geometry[1])

In [49]:
print(byteStringToGeometry(df.geometry[1]))

POLYGON ((127.3129013249023 36.50287538855319, 127.312874043817 36.50282220194204, 127.3126878728568 36.50284215247028, 127.3126387248592 36.50284741719556, 127.3126397460086 36.50284876625368, 127.3127734089437 36.50302641223939, 127.3128907112741 36.50314614798152, 127.31311491446 36.50312672860812, 127.3130696263637 36.50308412348952, 127.3129013249023 36.50287538855319))

In [51]:
for geom_bs in df.geometry:
    print(byteStringToGeometry(geom_bs))
    print()

POLYGON ((127.3126397460086 36.50284876625368, 127.3126387248592 36.50284741719556, 127.3119608345357 36.50289099640418, 127.3120119207498 36.50293502869205, 127.3120888804846 36.50300133304882, 127.3122279257086 36.50309875449772, 127.3123612246153 36.50318826065769, 127.3123816133584 36.50319830038191, 127.3124116748577 36.50318758850469, 127.3128907112741 36.50314614798152, 127.3127734089437 36.50302641223939, 127.3126397460086 36.50284876625368))

POLYGON ((127.3129013249023 36.50287538855319, 127.312874043817 36.50282220194204, 127.3126878728568 36.50284215247028, 127.3126387248592 36.50284741719556, 127.3126397460086 36.50284876625368, 127.3127734089437 36.50302641223939, 127.3128907112741 36.50314614798152, 127.31311491446 36.50312672860812, 127.3130696263637 36.50308412348952, 127.3129013249023 36.50287538855319))

POLYGON ((127.3118699072605 36.50322360320265, 127.3120920067083 36.50320833650175, 127.3121879811627 36.50321727831103, 127.3123327618159 36.50320797983127, 127.3123612246153 36.50318826065769, 127.3122279257086 36.50309875449772, 127.3120888804846 36.50300133304882, 127.3120119207498 36.50293502869205, 127.3119608345357 36.50289099640418, 127.3118215583809 36.50289775690145, 127.3116111144664 36.50294697507371, 127.3116262089221 36.50297018544244, 127.3116399013473 36.50298610015924, 127.3117524709138 36.50311747413041, 127.3118699072605 36.50322360320265))

POLYGON ((127.3116399013473 36.50298610015924, 127.3116262089221 36.50297018544244, 127.3115564432787 36.50299758142802, 127.3114261807203 36.5030478524732, 127.3113388089801 36.50309403793419, 127.3113809410576 36.50315440451416, 127.3114728440431 36.50325086790283, 127.3118699072605 36.50322360320265, 127.3117524709138 36.50311747413041, 127.3116399013473 36.50298610015924))

POLYGON ((127.3114728440431 36.50325086790283, 127.3113809410576 36.50315440451416, 127.3112159248483 36.50323973011433, 127.3112462098338 36.50328227576431, 127.3112728390976 36.50326454413469, 127.3114728440431 36.50325086790283))

POLYGON ((127.3113610867398 36.50297592074502, 127.31108963187 36.50294427427077, 127.3111103017659 36.50304741103047, 127.3111352872173 36.50303454989324, 127.3112685133179 36.50301085532133, 127.3113877142979 36.50300540922165, 127.3113610867398 36.50297592074502))

POLYGON ((127.3114261807203 36.5030478524732, 127.3113877142979 36.50300540922165, 127.3112685133179 36.50301085532133, 127.3111352872173 36.50303454989324, 127.3111103017659 36.50304741103047, 127.3111145286288 36.50306893748587, 127.3111658560006 36.50317361673398, 127.3112159248483 36.50323973011433, 127.3113809410576 36.50315440451416, 127.3113388089801 36.50309403793419, 127.3114261807203 36.5030478524732))

POLYGON ((127.310331564562 36.50271300400454, 127.3102578694719 36.50270381380209, 127.3098145547721 36.50272317245661, 127.3098008767088 36.50280368028017, 127.3101760724889 36.50285534615792, 127.3106939574972 36.50294998633674, 127.3110551009797 36.50294265169143, 127.3110512532482 36.5029238276922, 127.3108289159742 36.50287915775096, 127.3106860903425 36.50282419752067, 127.310331564562 36.50271300400454))

POLYGON ((127.3147059586213 36.50277008750781, 127.3146017502169 36.50265942077417, 127.3143461408492 36.50271822433845, 127.3145845543997 36.50280203643801, 127.3147059586213 36.50277008750781))

POLYGON ((127.3145845543997 36.50280203643801, 127.3143461408492 36.50271822433845, 127.3144063898529 36.50284207323502, 127.3145416805488 36.50296833854858, 127.3147365475062 36.50291258674516, 127.3147085037405 36.50287543397157, 127.3145845543997 36.50280203643801))

In [52]:
df['geometry_2'] = df.geometry.apply(byteStringToGeometry)

In [53]:
df

,index,A0,A1,A2,A3,A4,A5,A6,geometry,geometry_2
0,0,464617,3611010100100130001,3611010100,세종특별자치시 반곡동,13-1,13-1전,2021-08-07,0103000020E6100000010000000C0000005922234A02D4...,"POLYGON ((127.3126397460086 36.50284876625368,..."
1,1,464619,3611010100100130002,3611010100,세종특별자치시 반곡동,13-2,13-2전,2021-08-07,0103000020E6100000010000000A0000002655479306D4...,"POLYGON ((127.3129013249023 36.50287538855319,..."
2,2,462055,3611010100100130003,3611010100,세종특별자치시 반곡동,13-3,13-3전,2021-08-07,0103000020E6100000010000000F000000961233ADF5D3...,"POLYGON ((127.3118699072605 36.50322360320265,..."
3,3,462052,3611010100100130004,3611010100,세종특별자치시 반곡동,13-4,13-4전,2021-08-07,0103000020E6100000010000000A000000951A7CE8F1D3...,"POLYGON ((127.3116399013473 36.50298610015924,..."
4,4,462044,3611010100100130005,3611010100,세종특별자치시 반곡동,13-5,13-5전,2021-08-07,0103000020E6100000010000000600000076B0CB2BEFD3...,"POLYGON ((127.3114728440431 36.50325086790283,..."
5,5,464633,3611010100100130006,3611010100,세종특별자치시 반곡동,13-6,13-6전,2021-08-07,0103000020E61000000100000007000000D8320D57EDD3...,"POLYGON ((127.3113610867398 36.50297592074502,..."
6,6,462054,3611010100100130007,3611010100,세종특별자치시 반곡동,13-7,13-7전,2021-08-07,0103000020E6100000010000000B000000F6531368EED3...,"POLYGON ((127.3114261807203 36.5030478524732, ..."
7,7,464650,3611010100100130008,3611010100,세종특별자치시 반곡동,13-8,13-8천,2021-08-07,0103000020E6100000010000000B000000762DEC78DCD3...,"POLYGON ((127.310331564562 36.50271300400454, ..."
8,8,464804,3611010100100130009,3611010100,세종특별자치시 반곡동,13-9,13-9전,2021-08-07,0103000020E61000000100000005000000A108762424D4...,"POLYGON ((127.3147059586213 36.50277008750781,..."
9,9,464647,3611010100100130010,3611010100,세종특별자치시 반곡동,13-10,13-10전,2021-08-07,0103000020E610000001000000070000004D3E412722D4...,"POLYGON ((127.3145845543997 36.50280203643801,..."

In [54]:
df.drop(['geometry'], axis=1, inplace=True)

In [57]:
df.rename({'geometry_2':'geometry'}, axis=1, inplace=True)

In [58]:
df

,index,A0,A1,A2,A3,A4,A5,A6,geometry
0,0,464617,3611010100100130001,3611010100,세종특별자치시 반곡동,13-1,13-1전,2021-08-07,"POLYGON ((127.3126397460086 36.50284876625368,..."
1,1,464619,3611010100100130002,3611010100,세종특별자치시 반곡동,13-2,13-2전,2021-08-07,"POLYGON ((127.3129013249023 36.50287538855319,..."
2,2,462055,3611010100100130003,3611010100,세종특별자치시 반곡동,13-3,13-3전,2021-08-07,"POLYGON ((127.3118699072605 36.50322360320265,..."
3,3,462052,3611010100100130004,3611010100,세종특별자치시 반곡동,13-4,13-4전,2021-08-07,"POLYGON ((127.3116399013473 36.50298610015924,..."
4,4,462044,3611010100100130005,3611010100,세종특별자치시 반곡동,13-5,13-5전,2021-08-07,"POLYGON ((127.3114728440431 36.50325086790283,..."
5,5,464633,3611010100100130006,3611010100,세종특별자치시 반곡동,13-6,13-6전,2021-08-07,"POLYGON ((127.3113610867398 36.50297592074502,..."
6,6,462054,3611010100100130007,3611010100,세종특별자치시 반곡동,13-7,13-7전,2021-08-07,"POLYGON ((127.3114261807203 36.5030478524732, ..."
7,7,464650,3611010100100130008,3611010100,세종특별자치시 반곡동,13-8,13-8천,2021-08-07,"POLYGON ((127.310331564562 36.50271300400454, ..."
8,8,464804,3611010100100130009,3611010100,세종특별자치시 반곡동,13-9,13-9전,2021-08-07,"POLYGON ((127.3147059586213 36.50277008750781,..."
9,9,464647,3611010100100130010,3611010100,세종특별자치시 반곡동,13-10,13-10전,2021-08-07,"POLYGON ((127.3145845543997 36.50280203643801,..."

In [59]:
df.crs

AttributeError: 'DataFrame' object has no attribute 'crs'

In [60]:
df.to_sql('lot_polygon_sejong_test', con)

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'Polygon'
[SQL: INSERT INTO lot_polygon_sejong_test (level_0, index, "A0", "A1", "A2", "A3", "A4", "A5", "A6", geometry) VALUES (%(level_0)s, %(index)s, %(A0)s, %(A1)s, %(A2)s, %(A3)s, %(A4)s, %(A5)s, %(A6)s, %(geometry)s)]
[parameters: ({'level_0': 0, 'index': 0, 'A0': 464617, 'A1': '3611010100100130001', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-1', 'A5': '13-1전', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b28cf70a0>}, {'level_0': 1, 'index': 1, 'A0': 464619, 'A1': '3611010100100130002', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-2', 'A5': '13-2전', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b28033fd0>}, {'level_0': 2, 'index': 2, 'A0': 462055, 'A1': '3611010100100130003', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-3', 'A5': '13-3전', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b27f89190>}, {'level_0': 3, 'index': 3, 'A0': 462052, 'A1': '3611010100100130004', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-4', 'A5': '13-4전', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b27f891c0>}, {'level_0': 4, 'index': 4, 'A0': 462044, 'A1': '3611010100100130005', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-5', 'A5': '13-5전', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b27f89250>}, {'level_0': 5, 'index': 5, 'A0': 464633, 'A1': '3611010100100130006', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-6', 'A5': '13-6전', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b27f891f0>}, {'level_0': 6, 'index': 6, 'A0': 462054, 'A1': '3611010100100130007', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-7', 'A5': '13-7전', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b27f89310>}, {'level_0': 7, 'index': 7, 'A0': 464650, 'A1': '3611010100100130008', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-8', 'A5': '13-8천', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b27f892b0>}, {'level_0': 8, 'index': 8, 'A0': 464804, 'A1': '3611010100100130009', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-9', 'A5': '13-9전', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b27f893d0>}, {'level_0': 9, 'index': 9, 'A0': 464647, 'A1': '3611010100100130010', 'A2': '3611010100', 'A3': '세종특별자치시 반곡동', 'A4': '13-10', 'A5': '13-10전', 'A6': '2021-08-07', 'geometry': <shapely.geometry.polygon.Polygon object at 0x7f5b27f89370>})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [61]:
gdf = gpd.GeoDataFrame(df)

In [62]:
gdf.crs

In [63]:
gdf

,index,A0,A1,A2,A3,A4,A5,A6,geometry
0,0,464617,3611010100100130001,3611010100,세종특별자치시 반곡동,13-1,13-1전,2021-08-07,"POLYGON ((127.31264 36.50285, 127.31264 36.502..."
1,1,464619,3611010100100130002,3611010100,세종특별자치시 반곡동,13-2,13-2전,2021-08-07,"POLYGON ((127.31290 36.50288, 127.31287 36.502..."
2,2,462055,3611010100100130003,3611010100,세종특별자치시 반곡동,13-3,13-3전,2021-08-07,"POLYGON ((127.31187 36.50322, 127.31209 36.503..."
3,3,462052,3611010100100130004,3611010100,세종특별자치시 반곡동,13-4,13-4전,2021-08-07,"POLYGON ((127.31164 36.50299, 127.31163 36.502..."
4,4,462044,3611010100100130005,3611010100,세종특별자치시 반곡동,13-5,13-5전,2021-08-07,"POLYGON ((127.31147 36.50325, 127.31138 36.503..."
5,5,464633,3611010100100130006,3611010100,세종특별자치시 반곡동,13-6,13-6전,2021-08-07,"POLYGON ((127.31136 36.50298, 127.31109 36.502..."
6,6,462054,3611010100100130007,3611010100,세종특별자치시 반곡동,13-7,13-7전,2021-08-07,"POLYGON ((127.31143 36.50305, 127.31139 36.503..."
7,7,464650,3611010100100130008,3611010100,세종특별자치시 반곡동,13-8,13-8천,2021-08-07,"POLYGON ((127.31033 36.50271, 127.31026 36.502..."
8,8,464804,3611010100100130009,3611010100,세종특별자치시 반곡동,13-9,13-9전,2021-08-07,"POLYGON ((127.31471 36.50277, 127.31460 36.502..."
9,9,464647,3611010100100130010,3611010100,세종특별자치시 반곡동,13-10,13-10전,2021-08-07,"POLYGON ((127.31458 36.50280, 127.31435 36.502..."

In [65]:
gdf.postgis.to_postgis(con, 'lot_polygon_sejong_test', 'geometry', if_exists='replace')

AttributeError: 'NoneType' object has no attribute 'to_epsg'

In [67]:
gdf.set_crs(epsg=4326, inplace=True)

,index,A0,A1,A2,A3,A4,A5,A6,geometry
0,0,464617,3611010100100130001,3611010100,세종특별자치시 반곡동,13-1,13-1전,2021-08-07,"POLYGON ((127.31264 36.50285, 127.31264 36.502..."
1,1,464619,3611010100100130002,3611010100,세종특별자치시 반곡동,13-2,13-2전,2021-08-07,"POLYGON ((127.31290 36.50288, 127.31287 36.502..."
2,2,462055,3611010100100130003,3611010100,세종특별자치시 반곡동,13-3,13-3전,2021-08-07,"POLYGON ((127.31187 36.50322, 127.31209 36.503..."
3,3,462052,3611010100100130004,3611010100,세종특별자치시 반곡동,13-4,13-4전,2021-08-07,"POLYGON ((127.31164 36.50299, 127.31163 36.502..."
4,4,462044,3611010100100130005,3611010100,세종특별자치시 반곡동,13-5,13-5전,2021-08-07,"POLYGON ((127.31147 36.50325, 127.31138 36.503..."
5,5,464633,3611010100100130006,3611010100,세종특별자치시 반곡동,13-6,13-6전,2021-08-07,"POLYGON ((127.31136 36.50298, 127.31109 36.502..."
6,6,462054,3611010100100130007,3611010100,세종특별자치시 반곡동,13-7,13-7전,2021-08-07,"POLYGON ((127.31143 36.50305, 127.31139 36.503..."
7,7,464650,3611010100100130008,3611010100,세종특별자치시 반곡동,13-8,13-8천,2021-08-07,"POLYGON ((127.31033 36.50271, 127.31026 36.502..."
8,8,464804,3611010100100130009,3611010100,세종특별자치시 반곡동,13-9,13-9전,2021-08-07,"POLYGON ((127.31471 36.50277, 127.31460 36.502..."
9,9,464647,3611010100100130010,3611010100,세종특별자치시 반곡동,13-10,13-10전,2021-08-07,"POLYGON ((127.31458 36.50280, 127.31435 36.502..."

In [68]:
gdf.postgis.to_postgis(con, 'lot_polygon_sejong_test', 'geometry', if_exists='replace')

/opt/conda/lib/python3.9/site-packages/geopandas/geodataframe.py:1350: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

## ipython-sql 사용

In [69]:
%load_ext sql

In [71]:
%sql postgresql://postgres:5555443@172.17.0.3:5432/postgres

In [72]:
%%sql

select * from lot_polygon_sejong limit 10;

 * postgresql://postgres:***@172.17.0.3:5432/postgres
10 rows affected.

[(0, 464617, '3611010100100130001', '3611010100', '세종특별자치시 반곡동', '13-1', '13-1전', '2021-08-07', '0103000020E6100000010000000C0000005922234A02D45F405EF22E595D404240F0AEDA4502D45F40D3DDDD4D5D404240AD7D932AF7D35F4021816FBB5E40424048E5D800F8D35F40621 ... (120 characters truncated) ... 35F4084C549CD68404240C199898DFED35F40BC306E73684042403E09C36606D45F403158CD17674042402F9EC27A04D45F40D4CB622B634042405922234A02D45F405EF22E595D404240'),
 (1, 464619, '3611010100100130002', '3611010100', '세종특별자치시 반곡동', '13-2', '13-2전', '2021-08-07', '0103000020E6100000010000000A0000002655479306D45F404EE681385E404240867DDA2006D45F409A85587A5C404240A6F1FE1303D45F407EF4B3215D404240F0AEDA4502D45F40D3D ... (56 characters truncated) ... 45F40D4CB622B634042403E09C36606D45F403158CD1767404240B75F23130AD45F40C48EE6746640424098A62F5509D45F401DC3800F654042402655479306D45F404EE681385E404240'),
 (2, 462055, '3611010100100130003', '3611010100', '세종특별자치시 반곡동', '13-3', '13-3전', '2021-08-07', '0103000020E6100000010000000F000000961233ADF5D35F40532A8BA169404240EE89C050F9D35F40BF2C7A216940424013534CE3FAD35F4062907C6C69404240FE5D8D42FDD35F40133 ... (216 characters truncated) ... 35F4028C804916040424067F90DAFF1D35F404FABB85361404240951A7CE8F1D35F40654339D96140424068C1A2C0F3D35F40D7B7442766404240961233ADF5D35F40532A8BA169404240'),
 (3, 462052, '3611010100100130004', '3611010100', '세종특별자치시 반곡동', '13-4', '13-4전', '2021-08-07', '0103000020E6100000010000000A000000951A7CE8F1D35F40654339D96140424067F90DAFF1D35F404FABB853614042405EAF6F8AF0D35F40A819893962404240F6531368EED35F40045 ... (56 characters truncated) ... 35F40041D105D6740424076B0CB2BEFD35F40C3A941866A404240961233ADF5D35F40532A8BA16940424068C1A2C0F3D35F40D7B7442766404240951A7CE8F1D35F40654339D961404240'),
 (4, 462044, '3611010100100130005', '3611010100', '세종특별자치시 반곡동', '13-5', '13-5전', '2021-08-07', '0103000020E6100000010000000600000076B0CB2BEFD35F40C3A941866A4042402B9C53AAEDD35F40041D105D67404240F1CD32F6EAD35F40C871D3286A4042405E0F3975EBD35F403788B98D6B404240AA03EAE4EBD35F40BD25FBF86A40424076B0CB2BEFD35F40C3A941866A404240'),
 (5, 464633, '3611010100100130006', '3611010100', '세종특별자치시 반곡동', '13-6', '13-6전', '2021-08-07', '0103000020E61000000100000007000000D8320D57EDD35F403F23D5836140424068C07CE4E8D35F4009DA5C7A6040424020E22E3BE9D35F404F5B89DB63404240B6CEFAA3E9D35F405846A66F63404240653EC5D2EBD35F40AD91E2A8624042404852BCC6EDD35F40B728337B62404240D8320D57EDD35F403F23D58361404240'),
 (6, 462054, '3611010100100130007', '3611010100', '세종특별자치시 반곡동', '13-7', '13-7전', '2021-08-07', '0103000020E6100000010000000B000000F6531368EED35F4004593DDF634042404852BCC6EDD35F40B728337B62404240653EC5D2EBD35F40AD91E2A862404240B6CEFAA3E9D35F40584 ... (88 characters truncated) ... 35F408F0A3AFE67404240F1CD32F6EAD35F40C871D3286A4042402B9C53AAEDD35F40041D105D67404240E3A29CF9ECD35F40B6DEAB6265404240F6531368EED35F4004593DDF63404240'),
 (7, 464650, '3611010100100130008', '3611010100', '세종특별자치시 반곡동', '13-8', '13-8천', '2021-08-07', '0103000020E6100000010000000B000000762DEC78DCD35F4099BC53E65840424057ADD243DBD35F405FED3B99584042408B246D00D4D35F403E52A03B59404240226F0EC7D3D35F404E8 ... (88 characters truncated) ... 35F409C63C06C604042402C058443E8D35F409828D8CE5F404240A930F79EE4D35F40B13020585E404240F655E947E2D35F408EFE158B5C404240762DEC78DCD35F4099BC53E658404240'),
 (8, 464804, '3611010100100130009', '3611010100', '세종특별자치시 반곡동', '13-9', '13-9전', '2021-08-07', '0103000020E61000000100000005000000A108762424D45F4066A02DC55A4042408A1C616F22D45F402DA0D624574042408DA4463F1ED45F4084511E12594042404D3E412722D45F40866E2FD15B404240A108762424D45F4066A02DC55A404240'),
 (9, 464647, '3611010100100130010', '3611010100', '세종특별자치시 반곡동', '13-10', '13-10전', '2021-08-07', '0103000020E610000001000000070000004D3E412722D45F40866E2FD15B4042408DA4463F1ED45F4084511E12594042409684FA3B1FD45F4073CC09215D404240E7CB6D7321D45F40AB7E3A44614042404999C2A424D45F409B688C705F404240ABD5222F24D45F40526FE3385E4042404D3E412722D45F40866E2FD15B404240')]

In [74]:
lots = %sql select * from lot_polygon_sejong limit 10;

 * postgresql://postgres:***@172.17.0.3:5432/postgres
10 rows affected.

In [75]:
type(lots)

sql.run.ResultSet

In [76]:
lots[0]

(0, 464617, '3611010100100130001', '3611010100', '세종특별자치시 반곡동', '13-1', '13-1전', '2021-08-07', '0103000020E6100000010000000C0000005922234A02D45F405EF22E595D404240F0AEDA4502D45F40D3DDDD4D5D404240AD7D932AF7D35F4021816FBB5E40424048E5D800F8D35F40621 ... (120 characters truncated) ... 35F4084C549CD68404240C199898DFED35F40BC306E73684042403E09C36606D45F403158CD17674042402F9EC27A04D45F40D4CB622B634042405922234A02D45F405EF22E595D404240')

In [77]:
lots.DataFrame()

,index,A0,A1,A2,A3,A4,A5,A6,geometry
0,0,464617,3611010100100130001,3611010100,세종특별자치시 반곡동,13-1,13-1전,2021-08-07,0103000020E6100000010000000C0000005922234A02D4...
1,1,464619,3611010100100130002,3611010100,세종특별자치시 반곡동,13-2,13-2전,2021-08-07,0103000020E6100000010000000A0000002655479306D4...
2,2,462055,3611010100100130003,3611010100,세종특별자치시 반곡동,13-3,13-3전,2021-08-07,0103000020E6100000010000000F000000961233ADF5D3...
3,3,462052,3611010100100130004,3611010100,세종특별자치시 반곡동,13-4,13-4전,2021-08-07,0103000020E6100000010000000A000000951A7CE8F1D3...
4,4,462044,3611010100100130005,3611010100,세종특별자치시 반곡동,13-5,13-5전,2021-08-07,0103000020E6100000010000000600000076B0CB2BEFD3...
5,5,464633,3611010100100130006,3611010100,세종특별자치시 반곡동,13-6,13-6전,2021-08-07,0103000020E61000000100000007000000D8320D57EDD3...
6,6,462054,3611010100100130007,3611010100,세종특별자치시 반곡동,13-7,13-7전,2021-08-07,0103000020E6100000010000000B000000F6531368EED3...
7,7,464650,3611010100100130008,3611010100,세종특별자치시 반곡동,13-8,13-8천,2021-08-07,0103000020E6100000010000000B000000762DEC78DCD3...
8,8,464804,3611010100100130009,3611010100,세종특별자치시 반곡동,13-9,13-9전,2021-08-07,0103000020E61000000100000005000000A108762424D4...
9,9,464647,3611010100100130010,3611010100,세종특별자치시 반곡동,13-10,13-10전,2021-08-07,0103000020E610000001000000070000004D3E412722D4...