In [1]:
from jup_mapview import Mapview

In [2]:
# m = Mapview('3cd5d080-cf4d-496c-994c-f509a0004080')
m = Mapview()

In [5]:
m

Mapview()

In [4]:
%load_ext sql

In [8]:
%sql postgresql://postgres:5555443@172.17.0.3:5432/postgres

In [22]:
bjd_sejong = %sql select * from bjd_polygon_sejong;
bjd_sejong = bjd_sejong.DataFrame()

 * postgresql://postgres:***@172.17.0.3:5432/postgres
28 rows affected.

In [25]:
m.df_to_data(bjd_sejong, 'geometry')

In [26]:
m

Mapview(data='{"type": "FeatureCollection", "features": [{"type": "Feature", "geometry": {"type": "Polygon", "…

# st_intersects(geometry, geometry)

</br>
두 개의 geometry 를 입력받아서 겹치면 true, 겹치지 않으면 false 값을 줌.

https://postgis.net/docs/ST_Intersects.html

In [19]:
res = %sql select * from lot_polygon_sejong where ST_INTERSECTS( \
    geometry, \
    (select geometry from bjd_polygon_sejong where "EMD_NM"='종촌동') \
);

 * postgresql://postgres:***@172.17.0.3:5432/postgres
112 rows affected.

In [10]:
df = res.DataFrame()

In [11]:
df

,index,A0,A1,A2,A3,A4,A5,A6,geometry
0,7378,1307777,3611010900109190000,3611010900,세종특별자치시 다정동,919,919 공,2021-06-23,0103000020E6100000010000002A00000091734E5DB1CF...
1,7380,1307775,3611010900109210000,3611010900,세종특별자치시 다정동,921,921 공,2021-06-23,0103000020E61000000100000022000000A30196D719D0...
2,7381,1307774,3611010900109220000,3611010900,세종특별자치시 다정동,922,922 공,2021-06-23,0103000020E610000001000000330000002C58B9A566D0...
3,7447,1307715,3611010900109810000,3611010900,세종특별자치시 다정동,981,981 도,2021-06-23,0103000020E610000001000000050300005F669F7661CF...
4,7981,707033,3611011000107560000,3611011000,세종특별자치시 어진동,756,756 도,2021-06-23,0103000020E61000000100000036000000DA8C75594ED0...
...,...,...,...,...,...,...,...,...,...
107,8084,704433,3611011100106980000,3611011100,세종특별자치시 종촌동,698,698 대,2021-06-23,0103000020E6100000010000000900000038E287664ED0...
108,8085,704437,3611011100106990000,3611011100,세종특별자치시 종촌동,699,699 공,2021-06-23,0103000020E61000000100000007000000BE55147947D0...
109,8087,704430,3611011100107010000,3611011100,세종특별자치시 종촌동,701,701 도,2021-06-23,0103000020E610000001000000C5000000C5BCFE36F9CF...
110,7085,704541,3611010900105850007,3611010900,세종특별자치시 다정동,585-7,585-7 구,2021-06-23,0103000020E6100000010000002100000090E8BDE963CF...
111,7443,1307719,3611010900109770000,3611010900,세종특별자치시 다정동,977,977 도,2021-06-23,0103000020E61000000100000066000000351B15D3A9CF...

In [27]:
m.df_to_data(df, 'geometry')

In [28]:
m

Mapview(data='{"type": "FeatureCollection", "features": [{"type": "Feature", "geometry": {"type": "Polygon", "…

In [30]:
doum_1_ro = %sql select geometry from lot_polygon_sejong where index = 8091;

 * postgresql://postgres:***@172.17.0.3:5432/postgres
1 rows affected.

In [31]:
m.df_to_data(doum_1_ro.DataFrame(), 'geometry')

In [32]:
m

Mapview(data='{"type": "FeatureCollection", "features": [{"type": "Feature", "geometry": {"type": "Polygon", "…

# st_buffer(geom, radius: float)

</br>
geometry 를 입력받은 float 만큼 부풀려주는 함수

https://postgis.net/docs/ST_Buffer.html

In [34]:
doum_1_ro_buff = %sql select ST_BUFFER(geometry, 0.001) as geometry from lot_polygon_sejong where index = 8091;

 * postgresql://postgres:***@172.17.0.3:5432/postgres
1 rows affected.

In [35]:
m.df_to_data(doum_1_ro_buff.DataFrame(), 'geometry')

In [36]:
m

Mapview(data='{"type": "FeatureCollection", "features": [{"type": "Feature", "geometry": {"type": "Polygon", "…

In [38]:
near_doum_1_ro = %sql \
select * from lot_polygon_sejong \
where ST_INTERSECTS( \
    geometry, \
    (select ST_BUFFER(geometry, 0.001) as geometry from lot_polygon_sejong where index = 8091) \
);

 * postgresql://postgres:***@172.17.0.3:5432/postgres
49 rows affected.

In [39]:
m.df_to_data(near_doum_1_ro.DataFrame(), 'geometry')

In [40]:
m

Mapview(data='{"type": "FeatureCollection", "features": [{"type": "Feature", "geometry": {"type": "Polygon", "…

# st_dwithin(geom, geom, distance:float, true)

</br>
입력받은 두개의 geometry가 거리안에 있는지 여부를 확인하여 true/false로 결괏값을 줌.

https://postgis.net/docs/ST_DWithin.html

In [42]:
near_doum_1_ro_300_meter = %sql \
select * from lot_polygon_sejong \
where ST_DWITHIN( \
    geometry, \
    (select geometry from lot_polygon_sejong where index = 8091), \
    300, \
    true \
);

 * postgresql://postgres:***@172.17.0.3:5432/postgres
211 rows affected.

In [43]:
m.df_to_data(near_doum_1_ro_300_meter.DataFrame(), 'geometry')

In [44]:
m

Mapview(data='{"type": "FeatureCollection", "features": [{"type": "Feature", "geometry": {"type": "Polygon", "…

# st_area(geom, true)

In [55]:
over_10000_sqm = %sql select ST_AREA(geometry, true), * from lot_polygon_sejong where ST_INTERSECTS( \
    geometry, \
    (select geometry from bjd_polygon_sejong where "EMD_NM"='종촌동') \
) and ST_AREA(geometry, true) > 10000;

 * postgresql://postgres:***@172.17.0.3:5432/postgres
32 rows affected.

In [56]:
m.df_to_data(over_10000_sqm.DataFrame(), 'geometry')

In [57]:
m

Mapview(data='{"type": "FeatureCollection", "features": [{"type": "Feature", "geometry": {"type": "Polygon", "…

# 추가 참고자료

https://postgis.net/workshops/postgis-intro/spatial_relationships.html

https://postgis.net/workshops/postgis-intro/spatial_relationships_exercises.html

https://postgis.net/workshops/postgis-intro/indexing.html